telegram.json
{
  "name": "telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -192,
        -32
      ],
      "id": "eaedf368-17d2-4b1a-b13d-52a7e8ec5892",
      "name": "Telegram Trigger",
      "webhookId": "fdc96121-d0e8-43d2-85bc-08fc3da03039",
      "credentials": {
        "telegramApi": {
          "id": "IWLgOMvSm3YkxCzr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        16,
        -32
      ],
      "id": "d60d91bf-434e-458f-853b-98965f718793",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        144
      ],
      "id": "4cccbd72-a87a-4a30-9735-1369834f188b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lwxeGUip1gvXH0YA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        -32
      ],
      "id": "e0682436-5964-4543-be0f-5ec84d000b73",
      "name": "Send a text message",
      "webhookId": "ead75864-0ccd-488a-a4b7-cf9263ba4b0c",
      "credentials": {
        "telegramApi": {
          "id": "IWLgOMvSm3YkxCzr",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44f5f20f-420d-4ae3-9d3b-fdf52d2287e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7015536f8a37ff32757bd3f66134acc6196ed75579e32054f1b1e525fea84c1"
  },
  "id": "UshBNINKrsb2VBUD",
  "tags": []
}